/* Variables */

:root {
	--color-fondo: #f9f9f9;
	--color-dark: #1d2024;
	--color-textos: #444;
	--color-principal: #2478a0;
	--dark-version: #164d72;
	--light-version: rgba(7, 149, 214, 0.932);
	--titulos: 'Fugaz one', cursive;
	--navegacion: 'Fredoka One', cursive;
	--links: 'Oswald', cursive;
	--parrafos: 'Voces', sans-serif;
}

/* Estilos Generales */

html {
	scroll-behavior: smooth;
}

body {
	background: var(--color-fondo);
	transition: all .65s ease-in-out;
}

body::-webkit-scrollbar {
	width: .75em;
	border-radius: 7px;
	border-right: 2px;
	background: var(--color-principal);
}

/* parrafos */

p {
	font-family: var(--parrafos);
	font-size: 17px;
	text-align: justify;
	color: var(--color-textos);
	line-height: 1.5;
}

/* Particulas */

#particles-js {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	height: 150px;
	width: 100%;
}

/* Header */

header {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 110px;
}

/* Titulos */

.titulo {
	margin: 5px 0px;
	text-align: center;
	letter-spacing: 0.5px;
	font-family: var(--titulos);
	color: var(--color-principal);
}

h1 {
	display: inline-block;
	margin: 1rem 0rem;
	padding: .5rem;
	padding-left: 5rem;
	font-family: 'Lemon', cursive;
	color: var(--color-fondo);
	text-shadow: 1px 1px 1px #000;
	background: var(--color-principal);
	border-radius: 0px 1rem 1rem 0px;
}

/* Foto */

.foto {
	float: right;
	width: 110px;
	height: 110px;
	margin: 1rem 2rem;
	background-image: url(../img/foto.jpeg);
	background-position: 25%;
	background-size: cover;
	border-radius: 70px;
	border: 5px solid var(--color-principal);
}

/* Menu navegación */

#menu_btn,
.menu > .ico-second {
	display: none;
	line-height: unset;
	transition: .3s ease-in-out all;
}

.ico-first {
	margin-top: 8.5px;
}

.menu {
	display: none;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #FFF;
	background: var(--color-principal);
	border-radius: 50%;
}

.estatico {
	top: 0;
	left: 0;
}

nav ul, nav ul li {
	display: inline-block;
	list-style: none;
}

nav ul li a {
	position: relative;
	margin: 0px 40px 0px 0px;
	padding: 5px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: var(--navegacion);
	font-size: 20px;
	line-height: 1.5;
	color: var(--color-principal);
	transition: all 0.5s;
}

nav ul li a::before{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: var(--color-principal);
	transform: scaleX(0);
	transform-origin: right;
	transition: all ease-in-out .7s;
}

nav ul li a:hover::before{
	transform: scaleX(1);
	transform-origin: left;
}

nav a:hover {
	transform: scale(1.1);
}

.switch {
	position: relative;
	display: flex;
	background: var(--color-principal);
	border: none;
	border-radius: 1000px;
	outline: none;
	cursor: pointer;
}

.switch::after {
	content: '';
	position: absolute;
	top: 0;
	left: unset;
	right: 0;
	display: block;
	width: 31px;
	height: 31px;
	background: var(--color-fondo);
	border-radius: 100px;
	transition: .3s ease-in-out all;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch span {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: none;
	color: var(--color-fondo);
}

.active::after {
	left: 0;
	right: unset;
}

/* Estilos seccion principal */

main {
	z-index: -2;
	width: 100%;
	margin-top: 150px;
	clear: both;
}

/* estilos articles */

section {
	width: 90%;
	margin: 0px auto;
	padding: 10px;
	text-align: center;
}

#proyectos div a {
	margin: auto;
	transition: all .3s ease;
}

#proyectos div a img {
	height: 9rem;
	width: auto;
	max-width: 100%;
}

#proyectos p {
	text-align: justify;
}

#proyectos .grid-3 > div {
	padding: 10px;
	margin-bottom: 2em;
}

/* Estilos de los links en el main y footer */

main a,
footer a {
	margin: 0px 60px 0px 0px;
	text-decoration: none;
	font-family: var(--links);
	color: var(--color-principal);
}

main a:hover{
	color: var(--dark-version);
}

footer a:hover {
	color: var(--light-version);
}

/* Estilos de listas */

main ul li {
	margin: 5px 10px;
	list-style-type: circle;
	text-align: left;
}

/* Estilos habilidades */

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

.habilidades {
	padding: 50px 0px;
	box-shadow: 0px 1px 6px 2px #161616;
}

.habilidades,
.habilidades h4,
.habilidades h2 {
	width: 100%;
	fill: #fff;
	color: #fff;
	background: var(--dark-version);
}

/* Estilos footer */

footer {
	z-index: 2;
	padding: 20px;
	text-align: center;
	background: #141414;
	color: #fff;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

/* Footer: Botones de Redes Sociales*/

.redes_sociales {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 5px;
	padding: 10px;
	margin: 10px 0px;
}

.social {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	margin: 0px auto;
	font-size: 30px;
	line-height: 45px;
	background: #f1f1f1;
	border-radius: 25%;
	color: var(--color-principal);
	box-shadow: 0 5px 15px -5px #000020;
	transform-origin: top;
	transition: all 0.4s linear;
}

.social:hover {
	background: var(--color-principal);
	color: #f1f1f1;
	transform-origin: bottom;
	transform: scale(1.1);
}

small {
	display: block;
	text-align: center;
}

footer hr {
	margin-bottom: 15px;
	border-color: var(--color-principal);
	border-radius: 5%;
}

/* Responsive */

@media (max-width: 780px) {
	h1 {
		font-size: 24px;
	}
	.grid-3,
	.grid-2 {
		grid-template-columns: 1fr;
	}
	.estatico {
		position: fixed;
		padding: 4.5em 1.2em;
	}

	nav ul li {
		display: block;
		padding: 5px;
	}
	nav ul {
		position: absolute;
		top: 10%;
		left: 0%;
		z-index: 10;
		display: none;
		width: 100%;
		margin: 60px auto;
		padding: 0px;
	}
	.menu {
		display: block;
		float: left;
		margin: 0px 5px;
		line-height: 50px;
		transition: all 0.2s linear;
	}
	.menu:hover {
		cursor: pointer;
	}
	#menu_btn:checked ~ .estatico > nav ul {
		display: block;
	}
	#menu_btn:checked ~ .estatico {
		height: 100vh;
		width: 100vw;
		background: rgba(255, 255, 255, 0.7);
	}
	#menu_btn:checked ~ .estatico > .menu > .ico-first {
		display: none;
	}
	#menu_btn:checked ~ .estatico > .menu > .ico-second {
		display: block;
	}
}

/* Modo Oscuro */

.dark {
	background: var(--color-dark);
	color: var(--color-fondo);
}

.dark nav a {
	color: var(--light-version);
}

.dark p {
	color: var(--color-fondo);
}

.dark main a:hover {
	color: var(--light-version);
}