/* Reset */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Variables */

:root {
	--color-principal: #2478a0;
    --dark-version: #164d72;
}

/* parrafos */

p {
	font-family: 'Open Sans', sans-serif;
    text-align: justify;
}


/* Particulas */

#particles-js {
    display: block;
	height: 40%;
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;
}

/* Header */

header {
	margin: 5px auto;
	width: 90%;
	height: 110px;
	position: relative;
	z-index: 2;
}

/* Titulos */

.titulo {
	text-align: center;
	margin: 5px 0px;
	font-family: 'Righteous', cursive;
	color: var(--color-principal);
}

h1 {
	background: #fff;
	display: inline-block;
}

/* Foto */

.foto {
	background-image: url(../img/foto.jpeg);
	background-position: 25%;
	background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 70px;
    border: 5px solid var(--color-principal);
    float: right;
}

/* Menu navegación */
nav {
	display: inline-block;
}

#menu_btn {
    display: none;
}

.menu {
    color: var(--color-principal);
    display: none;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: var(--color-principal);
	font-family: 'Fugaz One', cursive;
	font-size: 20px;
	margin: 0px 60px 0px 0px;
	transition: all .5s;
}

nav a:hover {
    color: var(--dark-version);
	transform: scale(1.1);
}

/* Estilos seccion principal */

main {
    width: 100%;
    margin-top: 150px;
    z-index: -2;
	clear: both;
}

/* estilos articles*/

section {
    width: 90%;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
}

/* Estilos de los links en el main y footer */

main a, footer a {
    text-decoration: none;
    color: var(--color-principal);
    font-weight: lighter;
    font-family: 'Fugaz One', cursive;
    font-size: 17px;
    margin: 0px 60px 0px 0px;
}

/* Estilos de listas */

main ul li {
    list-style-type: circle;
    margin: 5px 10px;
    text-align: left;
}

/* Estilos habilidades */

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.habilidades {
    padding: 50px 0px;
}

.habilidades, .habilidades h4, .habilidades h2 {
    color: #fff;
    width: 100%;
    background: var(--dark-version);
    fill: #fff;
}

/* Estilos footer */

footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
    color: #fff;
    z-index: 2;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

/* Footer: Botones de Redes Sociales*/

.redes_sociales {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    margin: 10px 0px;
}

.social {
    display: block;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    border-radius: 25%;
    color: var(--color-principal);
    line-height: 50px;
    font-size: 26px;
    box-shadow: 0 5px 15px -5px #000020;
    margin: 0px auto;
}

.social {
    transition: 0.2s linear;
}

.social:hover  {
    transform: scale(1.1);
    color: #f1f1f1;
    background: var(--color-principal);
}

small {
    display: block;
    text-align: center;
}

footer hr {
    border-color: var(--color-principal);
    margin-bottom: 15px;
    border-radius: 5%;
}

/* Responsive */

@media(max-width: 780px){
    h1{
        font-size: 24px;
    }
    .grid-3, .grid-2{
        grid-template-columns: 1fr;
    }
    nav {
        position: absolute;
        left: 0%;
        width: 40%;
        margin: 0px auto;
        top: 80%;
        z-index: 20;
        display: none;
        padding: 0;
        border-radius: 0px 0px 0px 6px;
    }
    .menu {
            display: block;
            float: left;
            margin: 0px 10px;
            line-height: 50px;
            transition: all 0.2s linear;
        }
    .menu:hover {
        cursor: pointer;
    }
    #menu_btn:checked ~ nav {
        display: block;
    }
    #menu_btn:checked ~ .menu {
        color: var(--dark-version);
    }
}